body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

{
    box-sizing: border-box
;
}
.column {
    float: left;
}

.left {
    width: 10%;
    background-color: #159957;
    background-image: linear-gradient(90deg, #155799, #159957);
    text-align: center;
    align-content: center;
    min-height: 100vh;
}

.middle {
    width: 40%;
}

.right {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background: #FFFFFF;
}

#load_logo {
    max-height: 50vh;
    width: auto;
    animation-name: fade_logo;
    animation-duration: 2s;
}

@keyframes fade_logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}